@import-normalize;

*,
* *::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  min-height: 100vh;
  font-size: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 700;
}

.font-weight-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.btn-primary {
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background: #fff;
  color: #161616;
  font-size: 1.2rem;
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
}
.btn-primary:hover,
.btn-primary:active {
  background: rgb(197, 197, 197);
  color: #161616;
}

.btn-danger {
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background: #e50914;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.btn-danger:hover,
.btn-danger:active {
  background: #af0009;
  border: none;
  outline: none;
}
.btn-danger:focus {
  background: #e50914;
  border: 2px solid black;
  outline: none;
}

.input-default {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  color: rgb(97, 97, 97);
  height: 40px;
  width: 240px;
  padding-left: 5px;
  font-size: 1.2rem;
}

.input-default:focus,
.select-default:focus {
  outline: none;
}

.select-default {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  color: rgb(97, 97, 97);
  height: 40px;
  width: 240px;
  padding-left: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.textarea-default {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  background: rgb(255, 255, 255);
  color: rgb(97, 97, 97);
  height: 160px;
  width: 100%;
  max-width: 420px;
  padding-left: 5px;
  font-size: 1.2rem;
}

// Radio button
/* Customize the label (the container) */
.radio-default {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-default input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-default:hover input ~ .checkmark {
  background-color: #b91515;
}

/* When the radio button is checked, add a blue background */
.radio-default input:checked ~ .checkmark {
  background-color: #b91515;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-default input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-default .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

// Slider
.horizontal-slider {
  width: 100%;
  background: rgb(185, 21, 21);
  height: 25px;
  border-radius: 50px;
  .mark {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
  }

  .track {
    top: 0;
    bottom: 0;
    background: rgb(161, 29, 29);
    border-radius: 999px;
  }

  .track.track-1 {
    background: #fff;
  }

  .thumb {
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    font-weight: 700;
    background-color: rgb(168, 0, 0);
    color: #fff;
    border-radius: 50%;
    border: 1px solid rgba(231, 218, 25, 0.925);
    cursor: grab;
  }

  .thumb:active {
    border: none;
    outline: none;
  }
}

// Utiliy
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.text-error {
  color: #e50914;
}

.movie__list .swiper-container {
  overflow: visible;
}
.movie__list .swiper-slide {
  width: 400px !important;
  margin-right: 7px;
}
